<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список пользователей</title>
    <link href="dist/css/style.css" rel="stylesheet">
  </head>

  <body class="page-wrapper">
    <main class="page-content">
      <div class="users" v-cloak>
        <div class="users__empty" v-if="!usersCount">В данный момент пользователей нет</div>
        <user-list v-else-if="tableVisibility" v-bind:users="users" v-bind:users-count="usersCount"></user-list>

        <button class="button  users__toggle-button" type="button" v-if="usersCount" v-on:click="toggleTableVisibility" v-tooltip="toggleTextOfButton + ' таблицу'">{{ toggleTextOfButton }} таблицу</button>
      </div>

      <template id="user-list">
        <table class="users__table">
          <caption class="users__caption">Всего пользователей: {{ usersCount }}</caption>

          <thead>
            <tr class="users__header-row">
              <th></th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Компания</th>
              <th>Дата регистрации</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="users__body-row" v-for="user in users" v-bind:key="user.id">
              <td class="users__avatar">
                <img width="50" height="50" v-bind:src="user.picture || 'dist/img/users_avatars/default.png'" v-bind:alt="getFullName(user)">
              </td>

              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.company }}</td>
              <td>{{ user.registered }}</td>

              <td>
                <a class="button" v-bind:href="'edit-user.html?index=' + user.id" v-tooltip="'Редактировать'">✎</a>
              </td>
            </tr>
          </tbody>
        </table>
      </template>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/v-tooltip"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="dist/js/bundle.js"></script> -->
    <script>
      'use strict';

      var UserList = {
        name: 'UserList',

        template: '#user-list',

        props: {
          users: {
            type: Array,
            required: true
          },

          usersCount: {
            type: Number,
            default: 0
          }
        },

        data: function() {
          return {
            userListVisibility: true
          }
        },

        methods: {
          getFullName: function(user) {
            return user.lastName + ' ' + user.firstName;
          }
        }
      }

      window.users = new Vue({
        el: '.users',

        components: {
          'user-list': UserList
        },

        data: function() {
          return {
            users: [],
            tableVisibility: true
          }
        },

        mounted: function() {
          this.loadUsers();
        },

        methods: {
          toggleTableVisibility: function() {
            this.tableVisibility = !this.tableVisibility;
          },

          loadUsers: function() {
            axios.get('http://localhost:3004/users')
              .then( (response) => {
                this.users = response.data;
                console.log('Данные загружены');
              })
              .catch( (error) => (console.error(error)) );
          }
        },

        computed: {
          usersCount: function() {
            return this.users.length;
          },

          toggleTextOfButton: function() {
            return this.tableVisibility ? 'Скрыть' : 'Показать';
          }
        },

        filters: {
          upperCase: function(value) {
            if (!value) {
              return '';
            }

            value = value.toString();

            return value.toUpperCase();
          }
        }
      });
    </script>
  </body>
</html>
