.user-edit {

  &__empty {
    text-align: center;
  }

  &__data {
    margin: 0 auto;
    border-collapse: collapse;
    border-right: 1px solid #444444;
    border-left: 1px solid #444444;
  }

  &__data-row {
    border-bottom: 1px solid #444444;
    background-color: #fafafa;
    transition: background-color 0.3s ease;

    &:nth-child(odd) {
      background-color: #f0f0f0;
    }

    td {
      padding: 0.5em 1em;
      border-right: 1px solid #444444;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__data-option {

  }

  &__data-value {
    input, textarea {
      box-sizing: border-box;
      width: 300px;
      padding: 0 5px;
      font-size: 16px;
      border: 1px solid #949cff;
      border-radius: 3px;
    }

    input {
      height: 26px;
    }

    textarea {
      min-height: 100px;
      padding: 5px;
      resize: vertical;
    }
  }
}
