.users {

  &__table {
    margin: 0 auto;
    border-collapse: collapse;
    border-right: 1px solid #444444;
    border-left: 1px solid #444444;
  }

  &__caption {
    font-size: 18px;
    padding: 0.5em 0;
  }

  &__header-row {
    color: #ffffff;
    background-color: #444444;

    th {
      padding: 0.7em 2em;
      border-right: 1px solid #ffffff;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__body-row {
    border-bottom: 1px solid #444444;
    background-color: #fafafa;
    transition: background-color 0.3s ease;

    &:nth-child(odd) {
      background-color: #f0f0f0;
    }

    &:hover {
      background-color: #cccccc;
    }

    td {
      padding: 0.5em 1em;
      border-right: 1px solid #444444;

      &:last-child {
        border-right: none;
      }
    }
  }

  &__avatar {

    img {
      display: block;
      border-radius: 50%;
    }
  }

  &__toggle-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}
